*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/koulen-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/koulen-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/koulen-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/koulen-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/koulen-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/koulen-v25-latin-regular.svg#Koulen') format('svg'); /* Legacy iOS */
  }

:root {
    --font-primary: 'Koulen', cursive;
    --font-secondary: 'Antonio', sans-serif;
    --font-tertiary: 'Special Elite', cursive;
    --white: #ffffff;
}

body {
    background-color: rgb(22, 22, 22);
    color: var(--white);
}

/* NAV START */

a {
    font-family: "Koulen";
    font-size: clamp(2.5rem, 6vh, 4rem);
    color: var(--white);
    text-decoration: none;
    opacity: .7;
    transition: .2s ease-in-out;
}

a:hover {
    opacity: 1;
    color: rgb(255, 255, 255);
    transform: translate(.3rem, 0);
}

li {
    transition: .2s ease-in-out;
}

li:hover {
    transform: translate(.2rem, 0);
}
/* NAV END */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24vw;
    height: 40vh;
    padding: 1rem;
    line-height: 1.5;
    font-size: 1.05rem;
    animation: fadeInAnimation ease 1s;
    /* font-family: var(--font); */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    margin: 1rem;
    font-family: var(--font);
}

@media screen and (min-width: 320px) {

    ul {
        text-align: center;
    }
 
}

@media screen and (min-width: 576px) { 

    ul {
        display: flex;
        gap: 1rem;
        padding: 0 1rem;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {

    ul {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 1024px) {


}

@media screen and (min-width: 1440px) {


}