*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font: 'Special Elite', cursive;
    --font-secondary: 'Antonio', sans-serif;
    --white: #ffffff;

}

body {
    background-color: rgb(22, 22, 22);
    color: var(--white);
}

h1 {
    font-family: var(--font);
    font-size: clamp(2rem, 9vh, 12rem);
    letter-spacing: .5rem;
    transition: .3s;
}

h1:hover {
    opacity: 0;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

a {
    font-family: var(--font-secondary);
    font-size: clamp(2.5rem, 6vh, 4rem);
    color: var(--white);
    text-decoration: none;
    transition: .2s ease-in-out;
}

a:hover {
    color: red;
    transform: translate(.3rem, 0);
}

#open {
    font-size: 3rem;
    font-weight: 900;
    color: var(--white);
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
}

#close {
    font-family: var(--font-secondary);
    font-size: clamp(1.8rem, 2.3vh, 4rem);
    color: var(--white);
    margin: 1rem;
    margin-bottom: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


#sidebar div:hover {
    background-color: rgb(32, 32, 32);
}

#sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: rgb(22, 22, 22);
    z-index: 2;
    visibility: hidden;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    height: 80vh;
}

.hero button {
    align-self: flex-start;
    position: absolute;
    left: 0;
    margin: 0 1rem;
}

.hero video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 350vh;
    grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven";
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-container video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hide {
    font-family: var(--font);
    z-index: 1;
    margin: 1rem;
    font-size: clamp(1rem, 3vh, 2rem);
    transition: .3s;
    opacity: 0;
}

.highlight:hover .hide {
    opacity: 1;
}

.grid-container:nth-child(odd) img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.highlight {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

footer {
    margin: 1rem;
    font-family: var(--font);
    margin-top: 1rem;
}


@media screen and (min-width:320px) {

    .hero {
        font-size: 6vh;
    }

    .grid-container {
        height: 440vh;
    }

    #sidebar {
        width: 60%
    }
}

@media screen and (min-width:576px) {

    .hero {
        font-size: clamp(2rem, 9vh, 12rem);
    }

    .grid-container {
        height: 560vh;
    }

    #sidebar {
        width: 40%
    }
}

@media screen and (min-width:768px) {

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        height: 400vh;
        grid-template-areas:
            "two two"
            "one three"
            "four five"
            "six seven";
    }

    #sidebar {
        width: 35%
    }
}

@media screen and (min-width:992px) {

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50vh 60vh 65vh;
        height: 140vh;
        grid-template-areas:
            "one two two"
            "three four five"
            "six six seven"
    }

    .six img {
        object-position: 0 0;
    }

    .grid-container {
        height: 170vh;
    }

    #sidebar {
        width: 30%
    }

}

@media screen and (min-width:1200px) {
    .grid-container {
        height: 176vh;

    }

    #sidebar {
        width: 20%
    }

    @media screen and (min-width:1440px) {}

}