*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font: 'Special Elite', cursive;
    --font-secondary: 'Antonio', sans-serif;

}

body {
    background-color: #383636;
}

ul,
li,
a {
    display: flex;
    font-size: clamp(1rem, 3vh, 2rem);
    gap: 1rem;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--font-secondary);
    color: #ffffff;

}

ul {
    margin: 1rem;
}

h1 {
    font-family: var(--font);
    font-size: clamp(2rem, 9vh, 12rem);
    letter-spacing: .5rem;
    color: white;
}

h1:hover {
    display: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 80vh;
}

.hero video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid-container {
    display: grid;
    /* border: red 2px solid; */
    grid-template-columns: 1fr;
    height: 350vh;
    grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven";
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-container video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
    color: white;
    font-family: var(--font);
    z-index: 1;
    margin: 1rem;
    font-size: clamp(1rem, 3vh, 2rem);
}

.highlight:hover .hide {
    display: flex;
}

.grid-container:nth-child(odd) img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.highlight {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

footer {
    margin-top: 1rem;
    color: white;
}


@media screen and (min-width:320px) {
    .hero {
        font-size: 6vh;
    }

    .grid-container {
        height: 440vh;
    }

    ul {
        justify-content: center;
    }

    @media screen and (min-width:576px) {
        .hero {
            font-size: clamp(2rem, 9vh, 12rem);
        }

        .grid-container {
            height: 560vh;
        }
    }

    @media screen and (min-width:768px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            height: 400vh;
            grid-template-areas:
                "two two"
                "one three"
                "four five"
                "six seven";
        }
    }

    @media screen and (min-width:992px) {

        .grid-container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 50vh 60vh 65vh;
            height: 140vh;
            grid-template-areas:
                "one two two"
                "three four five"
                "six six seven"
        }

        .six img {
            object-position: 0 0;
        }

        .grid-container {
            height: 170vh;
        }

    }

    @media screen and (min-width:1200px) {
        .grid-container {
            height: 176vh;

        }

        ul {
            justify-content: flex-end;
        }


        @media screen and (min-width:1440px) {}

    }