*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font: 'Special Elite', cursive;
    --font-secondary: 'Antonio', sans-serif;

}

body {
    background-color: #383636;
}

ul,
li,
a {
    display: flex;
    font-size: clamp(1rem, 4vh, 2rem);
    gap: 1rem;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--font-secondary);
    color: #ffffff;
}

ul {
    margin: 1rem;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    font-size: clamp(2rem, 9vh, 12rem);
    letter-spacing: 1rem;
    background: url(images/genji\ wp.png) no-repeat center;
    background-size: cover;
    height: 80vh;
    color: white;
}

.grid-container {
    display: grid;
    /* border: red 2px solid; */
    grid-template-columns: 1fr;
    height: 350vh;
    grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven";
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.one {
    grid-area: one;
    /* border: 4px solid red; */
}


.two {
    grid-area: two;
     /* border: 4px solid rgb(157, 255, 0); */
}



.three {
    grid-area: three;
     /* border: 4px solid rgb(0, 153, 255); */
}

.four {
    grid-area: four;
     /* border: 4px solid rgb(60, 255, 0); */
}

.five {
    grid-area: five;
     /* border: 4px solid rgb(255, 132, 151); */
}

.six {
    grid-area: six;
     /* border: 4px solid rgb(0, 21, 255); */
}

.seven {
    grid-area: seven;
     /* border: 4px solid rgb(255, 255, 255); */
}

footer {
    margin-top: 2rem;
    color: white;
}


@media screen and (min-width:320px) {
    .hero {
        font-size: 6vh;
    }

    .grid-container {
        height: 440vh;
    }

    ul {
        justify-content: center;
    }

    @media screen and (min-width:576px) {
        .hero {
            font-size: clamp(2rem, 9vh, 12rem);
        }

        .grid-container {
            height: 560vh;
        }
    }

    @media screen and (min-width:768px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            height: 400vh;
            grid-template-areas:
                "one one"
                "two three"
                "four five"
                "six seven";
        }
    }

    @media screen and (min-width:992px) {

        .grid-container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr 1fr;
            height: 140vh;
            grid-template-areas:
                "one two two"
                "three four five"
                "six six seven"    
                "six six seven"    
        }

         .six img{
            object-position: 0 0;
        } 
        
        .grid-container {
            height: 170vh;
        }

    }

    @media screen and (min-width:1200px) {
        .grid-container {
            height: 185vh;

    }

    
    @media screen and (min-width:1440px) {

        
    }

}